@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Protest+Revolution&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* index.css */

@keyframes fall {
  0% {
    transform: translateY(0px) scale(1) rotate(0deg);
    opacity: 1;
  }


  100% {
    transform: translateY(120vh) scale(1) rotate(30deg);
  }
}

.fall-animation {
  animation: fall 3s forwards;
}

@keyframes moveDiagonal {
  0% {
    transform: translate(-40, 0);
  }
  100% {
    transform: translate(90vw, -93vh);
  }
}

.move-diagonal-animation {
  animation: moveDiagonal 10s linear 1 forwards; /* Ajusta la duración y el tipo de animación según tus necesidades */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */

}

.animatedBird {
  width: 660.8px; /* Ancho de cada imagen individual en el sprite */
  height: 441px; /* Altura de cada imagen individual en el sprite */
  background-image: url('../images/bird.svg'); /* Ruta relativa al archivo CSS */
  background-size: 9912px 441px; /* Tamaño total del sprite de imagen */
  animation: playBird 1.3s steps(1) infinite;
}

@keyframes playBird {
  0% {
    background-position: 0px 0px; /* Primera imagen: esquina superior izquierda */
  }
  6.67% {
    background-position: -660.8px 0px; /* Segunda imagen */
  }
  13.34% {
    background-position: -1321.6px 0px; /* Tercera imagen */
  }
  20.01% {
    background-position: -1982.4px 0px; /* Cuarta imagen */
  }
  26.68% {
    background-position: -2643.2px 0px; /* Quinta imagen */
  }
  33.35% {
    background-position: -3304px 0px; /* Sexta imagen */
  }
  40.02% {
    background-position: -3964.8px 0px; /* Séptima imagen */
  }
  46.69% {
    background-position: -4625.6px 0px; /* Octava imagen */
  }
  53.36% {
    background-position: -5286.4px 0px; /* Novena imagen */
  }
  60.03% {
    background-position: -5947.2px 0px; /* Décima imagen */
  }
  66.7% {
    background-position: -6608px 0px; /* Undécima imagen */
  }
  73.37% {
    background-position: -7268.8px 0px; /* Duodécima imagen */
  }
  80.04% {
    background-position: -7929.6px 0px; /* Decimotercera imagen */
  }
  86.71% {
    background-position: -8590.4px 0px; /* Decimocuarta imagen */
  }
  93.38% {
    background-position: -9251.2px 0px; /* Decimoquinta imagen */
  }
  100% {
    background-position: 0px 0px; /* Volver al primer frame */
  }
}


.animatedSquare {
  width: 1452px; /* Ancho de cada imagen individual en el sprite */
  height: 1306px; /* Altura de cada imagen individual en el sprite */
  background-image: url('../images/video_animation.png'); /* Ruta relativa al archivo CSS */
  background-size: 5808px 2612px; /* Tamaño total del sprite de imagen */
  animation: playSquare 2s steps(1) 1 forwards;
}

@keyframes playSquare {
  0% {
    background-position: 0px 0px; /* Primera imagen: esquina superior izquierda */
  }
  12.5% {
    background-position: -1452px 0px; /* Segunda imagen: */
  }
  25% {
    background-position: -2904px 0px; /* Tercera imagen: */
  }
  37.5% {
    background-position: -4356px 0px; /* Cuarta imagen: */
  }
  50% {
    background-position: 0px -1306px; /* Quinta imagen: */
  }
  62.5% {
    background-position: -1452px -1306px; /* Sexta imagen: */
  }
  75% {
    background-position: -2904px -1306px; /* Séptima imagen: */
  }
  87.5% {
    background-position: -4356px -1306px; /* Octava imagen: */
  }
  100% {
    background-position: -4356px -1306px; /* Octava imagen: */
  }
}

.animatedSprite {
  width: 98px; /* Ancho de cada imagen individual en el sprite */
  height: 61.5px; /* Altura de cada imagen individual en el sprite */
  background-image: url('../images/goose_animation.svg'); /* Ruta relativa al archivo CSS */
  background-size: 196px 123px; /* Tamaño total del sprite de imagen */
  animation: playSprite 1s steps(1) infinite;
}


@keyframes playSprite {
  0% {
    background-position: 0px 0px; /* Primera imagen: esquina superior izquierda */
  }
  25% {
    background-position: 98px 0px; /* Segunda imagen: esquina superior derecha */
  }
  50% {
    background-position: 0px -61.5px;; /* Tercera imagen: esquina inferior izquierda */
  }
  75% {
    background-position: 98px -61.5px;; /* Cuarta imagen: esquina inferior derecha */
  }
  100% {
    background-position: 0px 0px; /* Volver a la primera imagen */
  }
}

/* animacion para la derecha */

@keyframes moveRight {
  0% {
    transform: translateX(0vw); /* Comienza fuera del contenedor a la izquierda */
  }
  100% {
    transform: translateX(90vw); /* Termina fuera del contenedor a la derecha */
  }
}

.move-right-animation {
  animation: moveRight 37s linear infinite; /* Ajusta la duración y el tipo de animación según tus necesidades */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */

}
/*animacion hacia la derecha*/

@keyframes moveLeft {
  0% {
    transform: translateX(-10vw); /* Comienza fuera del contenedor a la derecha */
  }
  100% {
    transform: translateX(-80vw); /* Termina fuera del contenedor a la izquierda */
  }
}

.move-left-animation {
  animation: moveLeft 27s linear infinite; /* Ajusta la duración y el tipo de animación según tus necesidades */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
  
}

.banner-container {
  position: fixed;
  top: 50%;
  left: 50%; /* Centra horizontalmente el contenedor del banner */
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente el contenedor del banner */
  max-width: 80%; /* Establece un ancho máximo para el contenedor del banner */
  overflow: hidden;
}

.banner {
  animation: scrollBanner 30s linear infinite; /* Ajusta la duración y la velocidad según tus preferencias */
}


@keyframes scrollBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-7.3% * 50)); /* Ajusta el número de imágenes multiplicando por la cantidad de imágenes */
  }
}

.inverted-image {
  filter: invert(100%);
}

.iframe-content {
  width: 100%;
  height: 100%; /* El iframe ocupará toda la altura del contenedor */
  border: none;
}

/* Estilos para el botón */
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4CAF50; /* Color de fondo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Estilo hover */
.custom-button:hover {
  background-color: #45a049; /* Color de fondo al pasar el cursor */
}


.animate-scale-down {
  animation: scale-down 0.5s ease-in-out;
}

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#e8ad55;
  background-image: 
    radial-gradient(at 0% 0%, rgb(158, 79, 47) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(150, 111, 19) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(150, 111, 19) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-header {
  background-color: #833d00;
  background-image: 
    radial-gradient(at 0% 100%, rgb(170, 113, 43) 0, transparent 53%), 
    radial-gradient(at 50% 150%, rgb(160, 90, 11) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.panel {
  transition: max-height 0.3s ease;
  max-height: 600; /* Inicialmente no expandido */
}

.panel.expanded {
  max-height: 500px; /* Ajusta según el contenido */
}


.custom-react-select .react-select__control {
  background-color: #000000; /* bg-black */
  border-color: #000000; /* border-black */
  color: #ffffff; /* text-white */
}

.custom-react-select .react-select__control:hover {
  border-color: #000000; /* border-black */
}

.custom-react-select .react-select__single-value {
  display: flex;
  align-items: center;
  color: #ffffff; /* text-white */
}

.custom-react-select .react-select__menu {
  background-color: #1f2937; /* bg-gray-800 */
  color: #ffffff; /* text-white */
}

.custom-react-select .react-select__option {
  background-color: #1f2937; /* bg-gray-800 */
  color: #ffffff; /* text-white */
}

.custom-react-select .react-select__option--is-selected {
  background-color: #374151; /* bg-gray-700 */
}

.custom-react-select .react-select__option--is-focused {
  background-color: #4b5563; /* bg-gray-600 */
}

.custom-react-select .react-select__option:hover {
  background-color: #4b5563; /* bg-gray-600 */
}

/* src/components/Factory/content/switch.css */
.switch-container {
  position: relative;
  background-color: #dbe5e5; /* Color de fondo del switch */
  height: 40px; /* Aumenta la altura del switch */
  width: 120px; /* Ajusta el ancho del switch */
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #4a90e2; /* Color del borde del switch */
}

.switch-button {
  position: absolute;
  background-color: #000000; /* Color del botón deslizante */
  height: 80%;
  width: 50%;
  border-radius: 100px;
  transition: transform 0.3s;
}

.switch-left {
  transform: translateX(0);
}

.switch-right {
  transform: translateX(100%);
}

.switch-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2%;
}

.switch-option {
  width: 50%;
  text-align: center;
  color: #333; /* Color del texto */
  font-weight: arial;
}

/* styles.css o directamente dentro de tu archivo de Tailwind */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Color del fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Color del scrollbar */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Color del scrollbar al pasar el mouse */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

